@model TurboCollection.Web.ViewModels.TagViewModel

@{
    ViewData["Title"] = "CreateNewTag";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
        <main role="main" class="pb-3">
<h4>Create New Tag</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateNewTag">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            </br>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Tags">Back to List</a>
</div>
</main>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
