@model TurboCollection.Web.ViewModels.LoginViewModel

<h1>Log in to your account</h1>
<div class="container">
    <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Email"></label><br />
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="RememberMe"></label><br />
            <input asp-for="RememberMe" />
        </div>
        <div>
            <input type="submit" value="Enter" />
        </div>
    </form>
</div>

<div class="bottom-container">
    <div class="row">
        <div class="col">
            <a asp-controller="Account" asp-action="Registration" class="btn text-dark">Sign up</a>
        </div>
        <div class="col">
            <a href="#" class="btn text-dark">Forgot Password?</a>
        </div>
    </div>
</div>
