@if (User.Identity.IsAuthenticated)
{
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <form method="post" class="form-inline" asp-controller="Account" asp-action="Logout">
                @Html.ActionLink("Orders", "Orders", "Order")
                @Html.ActionLink("Bucket", "Items", "Bucket")
                <a asp-controller="Account" asp-action="">@User.Identity.Name</a>
                <input type="submit" class="ml-2 btn btn-link" value="Logout">
            </form>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Registration">Registration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    </ul>
}