@model TurboCollection.Web.ViewModels.UserViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="Parent">
    <div class="leftcolumn">
        @Model.FirstName @Model.LastName
        <hr />
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item navitem">
                @*<a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="UserCollection">User's Collection</a>*@
                @Html.ActionLink("User's Collection", "UserCollection", new { userId=@Model.UserId })
            </li>
            <li class="nav-item navitem">
                @*<a class="nav-link text-dark" asp-area="" asp-controller="Extra" asp-action="MyExtra">User's Extra</a>*@
                @Html.ActionLink("User's Extra", "UserExtra", new { userId=@Model.UserId })
            </li>
        </ul>
    </div>
    <div class="rightcolumn">
    </div>
</div>

<style>
    .navitem:hover {
        background-color: bisque;
    }

    .body {
        padding: 0;
        margin: 0;
    }

    .Parent {
        display: flex;
        flex-direction: row;
    }

    .leftcolumn {
        width: 15%;
        height: 100vh;
        background-color: floralwhite;
        /*text-align: center;
            color: white;*/
    }

    .rightcolumn {
        width: 85%;
        /*padding: 30px;*/
        height: 100vh;
        background-color: white;
        /*border: green solid 5px;
            margin: 50px;*/
    }
</style>
